<h1>New Bear:</h1>
<%= simple_form_for(@bear) do |f| %>
  <%= f.input :name %>
  <%= f.input :color %>
  <%= f.input :size %>
  <%= f.input :location %>
  <%= f.input :price %>
  <%= f.input :picture_url, as: :file %>
  <%= f.submit %>
<% end %>
