<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card rounded-4 px-3 py-2">
        <div class="card-body text-center picture-card">
          <h1 style="color: #B97F49"><strong><%= @bear.name.capitalize %></strong></h1>
          <%#= cl_image_tag @bear.photo.key, height: 300, width: 400, crop: :fill %>
        </div>
        <% if @showForm %>
          <div class="p-4">
              <%= render "form", bear: @bear %>
          </div>
         <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card rounded-4 px-3 py-2">
        <div class="card-body">
          <div class="m-0 mb-1">
            <i class="fa fa-paint-brush" aria-hidden="true" style="color: #563635"></i> <%= @bear.color.capitalize %></p>
            <p><i class="fa-solid fa-ruler" style="color: #563635"></i> <%= @bear.size.capitalize %></p>
            <p><i class="fa fa-map-marker" aria-hidden="true" style="color: #563635"></i> <%= @bear.location.capitalize %></p>
            <p><i class="fa-solid fa-money-check-dollar" style="color: #563635"></i> <%= @bear.price %>€</p>
            <p><i class="fa-solid fa-user" style="color: #563635"></i> <%= @bear.user.first_name.capitalize %> <%= @bear.user.last_name.upcase %></p>
          </div>

          <div class="d-flex align-items-center pt-3">
            <% if policy(@bear).destroy? %>
              <%= link_to "Delete",
              bear_path(@bear),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
              class: "btn-delete btn btn-flat me-3"%>
            <% end %>

            <% if policy(@bear).edit? %>
              <%= link_to "Edit bear", edit_bear_path, class: "btn btn-flat me-3"  %>
            <% end %>
          </div>
        </div>
      </div>
      <div style="width: 400px; height: 300px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>">
      </div>
      </div>
    </div>
  </div>
</div>
