<h1>Bears#show</h1>
<p>Find me in app/views/bears/show.html.erb</p>
<p><%= @bear.name %></p>
<p><%= @bear.location %></p>
<p><%= @bear.size %></p>
<p><%= @bear.price %></p>
<p><%= @bear.color %></p>
<p><%= @bear.picture_url %></p>
