<div class="text-center m-3">
  <h1><%= @bear.name %></h1>
  <%= render "form", bear: @bear %>
  <%= cl_image_tag @bear.picture_url, alt: "Giant Teddy Bear", width: 400 %>
  <div class="mt-2">
    <p>Color: <%= @bear.color %></p>
    <p>Size: <%= @bear.size %></p>
    <p>Location: <%= @bear.location %></p>
    <p>Price: <%= @bear.price %></p>
  </div>

  <p>
    <%= link_to "Delete",
      bear_path(@bear),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
      class: "btn btn-warning mb-2"
    %>
  </p>
  <p><%= link_to "Back to home", root_path, class: "btn btn-flat" %></p>
</div>
