<h1>Booking Confirmation</h1>

<p>You have successfully booked <%= @bear.name %></p>


<h1>Booking Confirmed</h1>

<p>Thank you for booking with us. Your booking has been confirmed.</p>

<div>
  <h2>Booking Details:</h2>
  <ul>
    <li><strong>Bear:</strong> <%= @booking.bear.name %></li>
    <li><strong>Start Date:</strong> <%= @booking.start_date %></li>
    <li><strong>End Date:</strong> <%= @booking.end_date %></li>
    <li><strong>Booking Confirmed?:</strong> <%= @booking.confirmation %></li>
  </ul>
</div>

<p>If you have any questions or concerns about your booking, please don't hesitate to contact us.</p>
