<h1>
  <%= @booking.bear.name %> is booked!
</h1>

<p>
  From: <%= @booking.start_date %> To: <%= @booking.end_date %>
</p>

<p>
  Owner of Giant Teddy Bear: <%= @booking.bear.user.first_name.capitalize %> <%= @booking.bear.user.last_name.upcase %>
</p>

<%= link_to "Back to bookings", user_path(current_user), class: "btn btn-flat" %>
