<div class="container mt-3">
  <div class="card rounded-4 px-3 py-2" style="display: inline-block;">
    <div class="card-body">
      <h1>My account</h1>
      <%# include edit name(s) link %>
      <p style="color: #563635;"><%= current_user.first_name %> <%= current_user.last_name %></p>
      <%# include edit email link %>
      <p style="color: #563635;"><%= current_user.email %></p>
      <p>
        <%= link_to "Edit/Delete your account", edit_user_registration_path, class: "btn btn-flat" %>
      </p>
      <p>
        <%= link_to "Back to home", root_path, class: "btn btn-flat" %>
      </p>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="card rounded-4 px-3 py-2" style="display: inline-block;">
    <div class="card-body">
      <h3>My Giant Teddy Bears:</h3>
      <% if current_user == @user %>
        <% if current_user.bears.exists? %>
          <ul>
            <% current_user.bears.each do |bear| %>
              <li>
                <%= link_to bear.name, bear_path(bear), class: "text-decoration-none mb-2" %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p style="color: #563635;">User does not have any owned bears!</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="card rounded-4 px-3 py-2" style="display: inline-block;">
    <div class="card-body">
      <h3>My bookings:</h3>
      <% if current_user == @user %>
        <% if current_user.bookings.exists? %>
          <ul>
            <% current_user.bookings.each do |booking| %>
              <li>
                <%= link_to booking.bear.name, booking_path(booking), class: "text-decoration-none mb-2" %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p style="color: #563635;">User does not have any bookings yet!</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
