
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('pexels-wilson-vitorino-2782682.jpg') %>)">
  <div class="container">
    <h1>Bear bnb</h1>
    <p>Your one-stop shop for Giant Teddy Bear rentals</p>
  </div>
</div>

<div class="container">
  <p>
    Do you have a big event approaching?
    <br>
    Do you want to surprise someone with a nice Giant Teddy Bear,
    but can't bother to try and win one at the local fair?
    <br>
    Do you simply want to be ensconced in the fuzzy embrace of a stuffed animal?
  </p>

  <p>
    Bear bnb was conceived for people who want the <strong>WOW</strong>
    factor of a Giant Teddy Bear, but not the hassle of ownership.
  </p>
  <%= form_with url: root_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :name,
      params[:name],
      class: "form-control",
      placeholder: "Search for a bear"
  %>
    <%= submit_tag "Search", class: "btn btn-flat" %>
    <%= link_to "Clear", root_path, class: "btn btn-flat ms-2" %>
  <% end %>
  <section>
    <div class='d-flex flex-row'>
      <div class='w-100 m-4'>
        <div class="d-flex flex-row flex-wrap justify-content-center">
          <% @bears.each do |bear| %>
            <div class="w-25 m-2 border border-dark-subtle rounded-4 card-trip">
              <%= link_to '', bear_path(bear), class: 'card-link' %>
              <img src="<%= bear.picture_url %>" class="img-fluid rounded-4"/>
              <p class="m-0 mb-1 ms-1"><%= bear.name %></p>
              <p class="m-0 mb-1 ms-1">Location: <%= bear.location %></p>
              <p class="m-0 mb-1 ms-1">Size: <%= bear.size %></p>
              <p class="m-0 mb-1 ms-1">Color: <%= bear.color %></p>
              <p class="m-0 mb-1 ms-1">Price: <%= bear.price %>€</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
